#singapore-map {
  height: 100vh;
}

#myTab {
  font-size: 18px;
  color: rgb(102, 101, 101);
}

#parentTab {
  bottom: 0;
  position: absolute;
  z-index: 314200;
  background-color: aliceblue;
  /* height: 150px */
}

#myTabContent {
  height: 60vh;
  overflow-y: auto;
}

.img{
border-radius: 10px;
height: 200px
}

#search-results{
  padding: 5px;
  margin : 5px
}