#singapore-map {
  height: 100vh;
}

#myTab {
  font-size: 18px;
  color: rgb(102, 101, 101);
}

#parentTab {
  bottom: 0;
  position: absolute;
  z-index: 314200;
  background-color: aliceblue;
}

#myTabContent {
  height: 40vh;
}
